In [1]:
from IPython.display import display
import pandas as pd

In [7]:
pd.set_option('display.max_colwidth', None)

In [2]:
path = "../data/interim/ambiguous/20240202.1101_Q79_Q34_Q16_PN_ambiguous.csv"
prev_gf_wordnet = pd.read_csv(path, index_col=0, delimiter="\t").reset_index(drop=True).drop("no_en_entry", axis=1)

In [8]:
display(prev_gf_wordnet)

,en_entry,ar,pos,MorphoDictAra
0,magdalena_4_GN,ماجْدالينا,GN,"lin magdalena_4_GN = mkLT ""ماجْدالينا_GN"" ;"
1,mustafa_8_GN,مصطفى,GN,"lin mustafa_8_GN = mkLT ""مصطفى_GN"" ;"
2,ulf_3_GN,أولْف,GN,"lin ulf_3_GN = mkLT ""أولْف_GN"" ;"
3,alexandria_governorate_7_LN,محافظة الاسكندرية,LN,"lin alexandria_governorate_7_LN = mkLT ""محافظة_الاسكندرية_LN"" ;"
4,aswan_governorate_1_LN,محافظة أسوان,LN,"lin aswan_governorate_1_LN = mkLT ""محافظة_أسوان_LN"" ;"
...,...,...,...,...
103,unesco_PN,اليونسكو,PN,"lin unesco_PN = mkLT ""اليونسكو_PN"" ;"
104,united_states_LN,الولايات المتحدة,LN,"lin united_states_LN = mkLT ""الولايات_المتحدة_LN"" ;"
105,windsor_2_SN,وندسور,SN,"lin windsor_2_SN = mkLT ""وندسور_SN"" ;"
106,yukon_2_LN,يوكون,LN,"lin yukon_2_LN = mkLT ""يوكون_LN"" ;"
107,abd_al-fattāḥ_2_GN,عبد الفتاح GN,0,"lin abd_al-fattāḥ_2_GN = mkLT ""عبد_الفتاح_GN_0"" ;"

In [9]:
prev_gf_wordnet["MorphoDictAra"] = prev_gf_wordnet.apply(
    lambda x: f'lin {x.en_entry} = mkLT "{"_".join(x.ar.split())}_{x.pos}" ;', axis=1
)

In [10]:
display(prev_gf_wordnet)

,en_entry,ar,pos,MorphoDictAra
0,magdalena_4_GN,ماجْدالينا,GN,"lin magdalena_4_GN = mkLT ""ماجْدالينا_GN"" ;"
1,mustafa_8_GN,مصطفى,GN,"lin mustafa_8_GN = mkLT ""مصطفى_GN"" ;"
2,ulf_3_GN,أولْف,GN,"lin ulf_3_GN = mkLT ""أولْف_GN"" ;"
3,alexandria_governorate_7_LN,محافظة الاسكندرية,LN,"lin alexandria_governorate_7_LN = mkLT ""محافظة_الاسكندرية_LN"" ;"
4,aswan_governorate_1_LN,محافظة أسوان,LN,"lin aswan_governorate_1_LN = mkLT ""محافظة_أسوان_LN"" ;"
...,...,...,...,...
103,unesco_PN,اليونسكو,PN,"lin unesco_PN = mkLT ""اليونسكو_PN"" ;"
104,united_states_LN,الولايات المتحدة,LN,"lin united_states_LN = mkLT ""الولايات_المتحدة_LN"" ;"
105,windsor_2_SN,وندسور,SN,"lin windsor_2_SN = mkLT ""وندسور_SN"" ;"
106,yukon_2_LN,يوكون,LN,"lin yukon_2_LN = mkLT ""يوكون_LN"" ;"
107,abd_al-fattāḥ_2_GN,عبد الفتاح GN,0,"lin abd_al-fattāḥ_2_GN = mkLT ""عبد_الفتاح_GN_0"" ;"